html,
body {
  overflow-x: hidden;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-add-manually-card {
    box-shadow: 0px 0px 12px 1px #00000066;
  }
  .shadow-add-manually-button {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
  }

  .title-h1 {
  }

  .title-h2-medium {
    @apply font-onest font-medium text-[32px] leading-[40.8px] text-[#333333];
  }
  .title-h2-medium-dark {
    @apply font-onest font-medium text-[32px] leading-[40.8px] text-[#F6F6F6];
  }

  .title-h3-normal {
    @apply font-onest font-normal text-[20px] leading-[25.5px] text-[#333333];
  }

  .title-h3-normal-dark {
    @apply font-onest font-normal text-[20px] leading-[25.5px] text-[#F6F6F6];
  }

  .p-semibold-dark {
    @apply font-onest font-semibold text-[12px] leading-[16px] text-[#F6F6F6];
  }

  .p-medium-2 {
    @apply font-onest font-medium text-[16px] leading-[20px] text-[#212322];
  }
  .p-medium-2-dark {
    @apply font-onest font-medium text-[16px] leading-[20px] text-[#F6F6F6];
  }

  .p-medium-2-small {
    @apply font-onest font-medium text-[14px] leading-[16px] text-[#212322];
  }
  .p-medium-2-small-dark {
    @apply font-onest font-medium text-[14px] leading-[16px] text-[#F6F6F6];
  }

  .p-normal-2 {
    @apply font-onest font-normal text-[16px] leading-[20px] text-[#707572];
  }
  .p-normal-2-dark {
    @apply font-onest font-normal text-[16px] leading-[20px] text-[#F6F6F6];
  }

  .p-medium-bold-2 {
    @apply font-onest font-medium text-[16px] leading-[20px] text-[#707572];
  }
  .p-medium-bold-2-dark {
    @apply font-onest font-medium text-[16px] leading-[20px] text-[#F6F6F6];
  }

  .p-medium-bold-variant-black {
    @apply font-onest font-medium text-[14px] leading-[16px] text-[#181A19];
  }
  .p-medium-bold {
    @apply font-onest font-medium text-[14px] leading-[16px] text-[#707572];
  }
  .p-medium-bold-dark {
    @apply font-onest font-medium text-[14px] leading-[16px] text-[#F6F6F6];
  }

  .p-medium {
    @apply font-onest font-medium text-[14px] leading-[20px] text-[#707572];
  }
  .p-medium-dark {
    @apply font-onest font-medium text-[14px] leading-[20px] text-[#F6F6F6];
  }

  .p-small {
    @apply font-onest font-normal text-[14px] leading-[20px] text-[#707572];
  }
  .p-small-dark {
    @apply font-onest font-normal text-[14px] leading-[20px] text-[#F6F6F6];
  }

  .p-xsmall {
    @apply font-onest font-normal text-[12px] leading-[20px];
  }

  .card-nft {
    @apply shadow-inner mx-auto w-[90px] h-[90px] lg:w-[80px] lg:h-[80px] relative rounded-xl border-2 border-[#E0E0E0] bg-[#E0E0E0] dark:bg-[#353836] dark:border-[#212322] flex flex-col;
  }
  .card-nft-small {
    @apply shadow-inner mx-auto w-[44px] h-[44px] lg:w-[44px] lg:h-[44px] relative rounded-xl border-2 border-[#E0E0E0] bg-[#E0E0E0] dark:bg-[#353836] dark:border-[#212322] flex flex-col;
  }
  .card-nft-large {
    @apply shadow-inner mx-auto w-[90px] h-[90px] lg:w-[80px] lg:h-[80px] relative rounded-xl border-2 border-[#E0E0E0] bg-[#E0E0E0] dark:bg-[#353836] dark:border-[#212322] flex flex-col;
  }
}
